Este código genera un DF aplicado OW que se aloja en la ruta
**X:\INVDESPRO\INVESTIGACION\Fondos éticos\3. DATASETS\04_Datos Clarity\01_Equities_feed\DF_para_python**

y el excel de incumplimientos
**X:\INVDESPRO\INVESTIGACION\Fondos éticos\3. DATASETS\04_Datos Clarity\01_Equities_feed\04_Incumplimientos\Incumplimientos**
1
Hacer una nueva copia de este y colocar como fecha el DF que se le va aplicar los OW

In [1]:
## DF
#Librerías
import numpy as np
import pandas as pd

Read Datafeed, Crossrefenrence, Portfolio/Cartera, and Overwrites

In [2]:
#DATA FEED CLARITY,
path_df = r"C:\Users\n740789\OneDrive - Santander Office 365\Documentos\Projects\DataSets\DATAFEED\ficheros_tratados\t_20240601_Equities_feed_IssuerLevel_sinOVR_v7.csv"
datafeed = pd.read_csv(path_df, sep=',', dtype='unicode')

## Crossrefenrene
xref =pd.read_csv(r'X:\INVDESPRO\INVESTIGACION\Fondos éticos\3. DATASETS\03_Cross Reference\2024\Aladdin_Clarity_Issuers_20240601.csv', dtype={'CLARITY_AI': str})

## portfolios/ Carteras
car = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/10. PROVEEDORES/01_Aladdin/Descargas_SNT-WORLD/c_202406.xlsx', sheet_name =None, skiprows=6)
car = pd.concat(car.values(), ignore_index=True)

c:\Users\n740789\OneDrive - Santander Office 365\Documentos\Projects\projects\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
## Overwrites

#Read 1 OW
CS_001_OW   = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/CS001_SEC_202406.xlsx', dtype={'ClarityID': str})

#Read 2 OW
CS_002_OW   = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/CS002_SEC_202406.xlsx', dtype={'ClarityID': str})

#Read 3 OW
CS_003_OW   = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/CS003_SEC_202406.xlsx', dtype={'ClarityID': str})

#Read 4 OW
STR_001_OW  = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/STR001_SEC_202406.xlsx', dtype={'ClarityID': str})

#Read 5 OW
STR_002_OW  = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/STR002_SEC_202406.xlsx', dtype={'ClarityID': str})

#Read 6 OW
STR_003_OW  = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/STR003_SEC_202406.xlsx', dtype={'ClarityID': str})

#Read 7 OW
STR_004_OW  = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/STR004_SEC_202406.xlsx', dtype={'ClarityID': str})

#Read 8 OW
STR_005_OW  = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/STR005_SEC_202406.xlsx', dtype={'ClarityID': str})

#Read 9 OW
STR_006_OW  = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/STR006_SEC_202406.xlsx', dtype={'ClarityID': str})

#Read 10 OW
STR_007_OW   = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/STR007_SEC_202406.xlsx', dtype={'ClarityID': str})

#Read 11 OW
STR_SFDR8_OW = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/ARTICULO_8_SEC_202406.xlsx', dtype={'ClarityID': str})

#Read 12 OW
STR_003B_OW  = pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/03_Overwrites/202406_OVR_June/STR003B_SEC_202406.xlsx', dtype={'ClarityID': str})

In [4]:
# Edit column names
for dfs in [datafeed, xref, car, CS_001_OW,  CS_002_OW, CS_003_OW, STR_001_OW, STR_002_OW, STR_003_OW, STR_004_OW, STR_005_OW, STR_006_OW, STR_007_OW, STR_SFDR8_OW, STR_003B_OW]:
    dfs.columns = dfs.columns.str.strip().str.lower()

4. Al final del archivo cambiar ruta o nombre 
5. Incumplimientos
6. Run all o paso a paso, luego de los 4 pasos anteriores

Verificación de carga DF, datos

In [5]:
#DF.columns Ubicacación de cada columna a verificar, que se van a cambiar por la validación
##array([242, 245, 244, 236, 237, 238, 239, 241, 246, 247, 251, 254], dtype=int64) este es el resultado esperado 

datafeed.columns.get_indexer(['cs_001_sec','cs_002_ec','cs_003_sec','str_001_s','str_002_ec','str_003_ec','str_004_asec','str_005_ec','str_006_sec','str_007_sect','art_8_basicos','str_003b_ec'])

array([240, 243, 242, 234, 235, 236, 237, 239, 244, 245, 249, 252],
      dtype=int64)

In [6]:
datafeed[sorted(datafeed.columns)].head()

,any_critical_controversy,art_8_basicos,clarityid,company_inheriting,controv_access_to_basic_services,controv_accounting_and_taxation,controv_animal_welfare,controv_animal_welfare_sc,controv_anticompetitive_practices,controv_bribery_and_corruption,...,s_score,str_001_s,str_002_ec,str_003_ec,str_003b_ec,str_004_asec,str_005_ec,str_006_sec,str_007_sect,sustainability_rating
0,False,OK,157726194,True,NaN,40.00,NaN,NaN,60.00,80.00,...,57,OK,OK,OK,OK,OK,OK,OK,OK,Average
1,False,OK,159103,True,60.00,40.00,NaN,NaN,60.00,80.00,...,52,OK,OK,OK,OK,OK,OK,OK,OK,Average
2,False,OK,95028,True,80.00,60.00,NaN,NaN,100.00,100.00,...,59,OK,OK,OK,OK,OK,OK,OK,OK,Average
3,False,OK,168004210,True,100.00,40.00,NaN,NaN,80.00,100.00,...,67,OK,OK,OK,OK,OK,OK,OK,OK,Average
4,True,FLAG,129218,True,NaN,40.00,NaN,NaN,60.00,100.00,...,57,FLAG,OK,FLAG,OK,EXCLUDED,OK,FLAG,EXCLUDED,Sufficient

In [7]:
car.head()

,security description,filter level 1,level,issuer id,portfolio name,isin,unnamed: 6,unnamed: 7
0,SNT-WORLD,SNT-WORLD,1.0,NaN,NaN,NaN,NaN,NaN
1,10Y RTP 2.880000 15-JUL-2024 10,SNT-WORLD,0.0,NaN,LXMS0640,NaN,NaN,NaN
2,10Y RTP 4.000000 24-JUL-2024 10,SNT-WORLD,0.0,NaN,LXMS0640,NaN,NaN,NaN
3,10Y RTP 4.070000 05-JUL-2024 10,SNT-WORLD,0.0,NaN,LXMS0640,NaN,NaN,NaN
4,10Y RTP 4.150000 03-JUL-2024 10,SNT-WORLD,0.0,NaN,LXMS0640,NaN,NaN,NaN

In [8]:
xref.head()

,aladdin_issuer,issuer_name,clarity_ai,msci,sust
0,H56976,AUXIFIP SA,5001248970,IID000000002682941,NaN
1,H57890,INFANT BACTERIAL THERAPEUTICS AB,5040202605,IID000000002761045,2.004151e+09
2,H57901,MB SECURITIES JSC,4298118784,IID000000002761038,NaN
3,H57917,BARCODE 121 HOLDING AS,5050698850,IID000000002760965,NaN
4,H57922,ABQ FINANCE LTD,5050698905,IID000000002760999,1.336473e+09

In [9]:
def process_ow(df, clarity_col, ow_df, ow_col, new_col_name, insert_loc):
    # Prepare the dataframe for merging
    clarity_df = df[['clarityid', clarity_col]]
    
    # Merge with OW dataframe
    ow_merged = pd.merge(clarity_df, ow_df, how='left', on='clarityid')
    
    # Create the new verification column
    ow_merged[new_col_name] = np.where(ow_merged[ow_col] != ow_merged[clarity_col], ow_merged[ow_col], ow_merged[clarity_col])
    
    # Fill NaN values
    ow_merged[new_col_name] = ow_merged[new_col_name].fillna(ow_merged[clarity_col])
    
    # Drop unnecessary columns
    ow_merged.drop(['clarityid', clarity_col, ow_col], axis='columns', inplace=True)
    
    # Insert the new column into the original dataframe
    df.insert(insert_loc, new_col_name, ow_merged[new_col_name])
    
    # Drop the original column from the original dataframe
    df.drop([clarity_col], axis='columns', inplace=True)

# Process each OW case
ow_cases = [
    ('cs_001_sec', CS_001_OW, 'cs001', 'cs_001_sec_new', 240),
    ('cs_002_ec', CS_002_OW, 'cs002', 'cs_002_ec_new', 243),
    ('cs_003_sec', CS_003_OW, 'cs003', 'cs_003_sec_new', 242),
    ('str_001_s', STR_001_OW, 'str001', 'str_001_s_new', 234),
    ('str_002_ec', STR_002_OW, 'str002', 'str_002_ec_new', 235),
    ('str_003_ec', STR_003_OW, 'str003', 'str_003_ec_new', 236),
    ('str_004_asec', STR_004_OW, 'str004', 'str_004_asec_new', 237),
    ('str_005_ec', STR_005_OW, 'str005', 'str_005_ec_new', 239),
    ('str_006_sec', STR_006_OW, 'str006', 'str_006_sec_new', 244),
    ('str_007_sect', STR_007_OW, 'str007', 'str_007_sect_new', 245),
    ('art_8_basicos', STR_SFDR8_OW, 'art_8_basicos', 'art_8_basicos_new', 249),
    ('str_003b_ec', STR_003B_OW, 'str003b', 'str_003b_ec_new', 252),
]

for clarity_col, ow_df, ow_col, new_col_name, insert_loc in ow_cases:
    process_ow(datafeed, clarity_col, ow_df, ow_col, new_col_name, insert_loc)

In [32]:
print(CS_001_OW.iloc[:,1].value_counts())
print(CS_002_OW.iloc[:,1].value_counts())
print(CS_003_OW.iloc[:,1].value_counts())
print(STR_001_OW.iloc[:,1].value_counts())
print(STR_002_OW.iloc[:,1].value_counts())
print(STR_003_OW.iloc[:,1].value_counts())
print(STR_004_OW.iloc[:,1].value_counts())
print(STR_005_OW.iloc[:,1].value_counts())
print(STR_006_OW.iloc[:,1].value_counts())
print(STR_007_OW.iloc[:,1].value_counts())
print(STR_SFDR8_OW.iloc[:,1].value_counts())
print(STR_003B_OW.iloc[:,1].value_counts())

cs001
OK          4950
EXCLUDED    1125
FLAG        1055
Name: count, dtype: int64
cs002
OK          5965
EXCLUDED    1003
FLAG          44
Name: count, dtype: int64
cs003
OK          4008
EXCLUDED    1679
FLAG        1366
Name: count, dtype: int64
str001
OK          5029
FLAG        1437
EXCLUDED     581
Name: count, dtype: int64
str002
OK          5055
EXCLUDED    1956
FLAG          27
Name: count, dtype: int64
str003
OK          5528
FLAG         819
EXCLUDED     690
Name: count, dtype: int64
str004
OK          4770
FLAG        1366
EXCLUDED    1049
Name: count, dtype: int64
str005
OK          5421
EXCLUDED    1552
FLAG          45
Name: count, dtype: int64
str006
OK          4717
EXCLUDED    1209
FLAG        1165
Name: count, dtype: int64
str007
OK          4758
FLAG        1366
EXCLUDED    1058
Name: count, dtype: int64
articulo 8
OK          5002
FLAG        1436
EXCLUDED     523
Name: count, dtype: int64
str003b
OK          5829
FLAG         606
EXCLUDED     577
Name: count, dtype: int64

In [10]:
datafeed.shape #Comprobación de filas y columnas

(36362, 274)

In [11]:
datafeed.head()

,issuer_name,issuer_country,gics2_industry,region,company_inheriting,parent_company,esg_score,esg_score_relevance,e_score,s_score,...,maxexp_gas_fuels_prod,exp_gas_fuels_part,minexp_gas_fuels_part,maxexp_gas_fuels_part,exp_oil_fuels_prod,minexp_oil_fuels_prod,maxexp_oil_fuels_prod,exp_oil_fuels_part,minexp_oil_fuels_part,maxexp_oil_fuels_part
0,UBS AG (London Branch),United Kingdom,Banks,Europe,True,UBS Group AG,64,100.00,84.00,57,...,0.00,False,0.00,0.00,False,0.00,0.00,False,0.00,0.00
1,Hongkong and Shanghai Banking Corporation Ltd,Hong Kong,Banks,Asia Pacific,True,HSBC Holdings PLC,57,100.00,92.00,52,...,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN
2,DBS Bank Hong Kong Ltd,Hong Kong,Banks,Asia Pacific,True,DBS Group Holdings Ltd,58,99.75,87.00,59,...,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN
3,SG Issuer SA,Luxembourg,Financial Services,Europe,True,Societe Generale SA,63,100.00,96.00,67,...,0.00,False,0.00,0.00,False,0.00,0.00,False,0.00,0.00
4,Morgan Stanley & Co International PLC,United Kingdom,Financial Services,Europe,True,Morgan Stanley,60,95.54,92.00,57,...,NaN,False,NaN,NaN,False,NaN,NaN,False,NaN,NaN

In [12]:
#NUEVO CSV, indicar nuevo nombre y que deberia ser siempre, sobre escribir , agregarle,  mode='w',sino se va a cambiar el nombre 

# Cuando se ejecute se le debe cambiar el nombre con el mes en curso, según formato de los anteriores

#df.to_csv(r'X:\INVDESPRO\INVESTIGACION\Fondos éticos\3. DATASETS\04_Datos Clarity\01_Equities_feed\DF_para_python\202406_DF_Junerero.csv', sep=';', header=True, index=False)

5 Incumplimientos

In [13]:
## Filtro para incumplimientos
datafeed.columns = datafeed.columns.str.replace(r'_new$', '', regex=True)
#Filtrar el DF solo la col que necesito
df_filtered = datafeed[['permid','clarityid','issuer_name','str_001_s',
                  'str_002_ec','str_003_ec','str_004_asec','str_005_ec','str_006_sec',
                  'str_007_sect','cs_001_sec','cs_002_ec','cs_003_sec','art_8_basicos','gp_esccp_22','str_003b_ec']].copy()

carteras_filtered = car.iloc[:,[0,3,4]]
carteras_filtered.rename(columns={"security description":"issuername", "issuer id":"issuerid", "portfolio name":"portfolio"}, inplace=True)

C:\Users\n740789\AppData\Local\Temp\ipykernel_11540\362728883.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carteras_filtered.rename(columns={"security description":"issuername", "issuer id":"issuerid", "portfolio name":"portfolio"}, inplace=True)

In [14]:
#Cambio de nombre, orden y tipo en el cross reference
xref.rename(columns={"clarity_ai":"permid", "issuer_name":"issuername", "aladdin_issuer":"issuerid"}, inplace=True)
xref = xref[['permid','issuerid', 'issuername']]

In [15]:
xref.head()

       permid issuerid                        issuername
0  5001248970   H56976                        AUXIFIP SA
1  5040202605   H57890  INFANT BACTERIAL THERAPEUTICS AB
2  4298118784   H57901                 MB SECURITIES JSC
3  5050698850   H57917            BARCODE 121 HOLDING AS
4  5050698905   H57922                   ABQ FINANCE LTD

In [16]:
carteras_filtered.head()

                        issuername issuerid portfolio
0                        SNT-WORLD      NaN       NaN
1  10Y RTP 2.880000 15-JUL-2024 10      NaN  LXMS0640
2  10Y RTP 4.000000 24-JUL-2024 10      NaN  LXMS0640
3  10Y RTP 4.070000 05-JUL-2024 10      NaN  LXMS0640
4  10Y RTP 4.150000 03-JUL-2024 10      NaN  LXMS0640

In [17]:
df_filtered.head()

,permid,clarityid,issuer_name,str_001_s,str_002_ec,str_003_ec,str_004_asec,str_005_ec,str_006_sec,str_007_sect,cs_001_sec,cs_002_ec,cs_003_sec,art_8_basicos,gp_esccp_22,str_003b_ec
0,5000804106,157726194,UBS AG (London Branch),FLAG,EXCLUDED,OK,FLAG,OK,FLAG,FLAG,OK,OK,FLAG,OK,OK,FLAG
1,4296859137,159103,Hongkong and Shanghai Banking Corporation Ltd,OK,EXCLUDED,OK,OK,EXCLUDED,OK,OK,EXCLUDED,OK,OK,OK,OK,OK
2,4295870968,95028,DBS Bank Hong Kong Ltd,OK,OK,OK,OK,OK,OK,OK,OK,OK,EXCLUDED,OK,OK,OK
3,5036159086,168004210,SG Issuer SA,OK,EXCLUDED,OK,OK,EXCLUDED,OK,OK,OK,OK,OK,OK,OK,OK
4,5000076412,129218,Morgan Stanley & Co International PLC,OK,OK,OK,OK,OK,OK,OK,OK,OK,EXCLUDED,FLAG,OK,OK

In [18]:
xref.head()

       permid issuerid                        issuername
0  5001248970   H56976                        AUXIFIP SA
1  5040202605   H57890  INFANT BACTERIAL THERAPEUTICS AB
2  4298118784   H57901                 MB SECURITIES JSC
3  5050698850   H57917            BARCODE 121 HOLDING AS
4  5050698905   H57922                   ABQ FINANCE LTD

In [19]:
def process_portfolio(carteras_filtered, df_filtered, xref, portfolio_list, str_column, str_name):
    xref_b = xref.copy()
    df_filtered_b = df_filtered.copy()
    carteras_filtered_b = carteras_filtered.copy()

    result = carteras_filtered_b[carteras_filtered_b['portfolio'].isin(portfolio_list)].dropna().copy()
    result.columns = ['issuername', 'issuerid', 'portfolio']
    
    df = df_filtered_b[['permid', str_column]].copy()
    df.columns = ['permid', str_name]
    
    df = pd.merge(df, xref_b, on='permid', how='left')
    result = pd.merge(result, df, on='issuerid', how='left')
    
    result = result.drop(columns=['permid', 'issuername_y']).drop_duplicates().dropna(subset=[str_name])
    result = result.rename(columns={'issuername_x': 'issuername', str_name: str_name})
    result = result[result[str_name] == 'EXCLUDED']
    return result[['issuerid', 'issuername', 'portfolio', str_name]]

STR001 = process_portfolio(carteras_filtered, df_filtered, xref, 
                           ["FPG00002","FPG01072","EPV00005","EPV14005", "FPG01079","FPG01697","FPG00112","EPV00043","EPV14004","LXMS0720",
                            "FPG00028", "FPG01214", "FPG00027", "FPG00603", "FPG01213", "EPV00060", "EPV00061", "EPV00062", "EPV00063", "EPV00064"], 
                           'str_001_s', 'STR001')

STR002 = process_portfolio(carteras_filtered, df_filtered, xref, 
                           ["FIG02787", "CPE03861"], 
                           'str_002_ec', 'STR002')

STR003 = process_portfolio(carteras_filtered, df_filtered, xref, 
                           ["FPG01278"], 
                           'str_003_ec', 'STR003')

STR004 = process_portfolio(carteras_filtered, df_filtered, xref, 
                           ["FPH00457", "EPH00107", "FIG05273", "FPB01158", "FIG05240", "FIG05241", "FIG05402", "FIG00677", "PFI01541"], 
                           'str_004_asec', 'STR004')

STR004_SB = process_portfolio(carteras_filtered, df_filtered, xref, 
                              ["FPB01158", "FIG05240", "FIG05241", "FIG05402", "FIG00677", "PFI01541"], 
                              'str_004_asec', 'STR004_SB')

STR005 = process_portfolio(carteras_filtered, df_filtered, xref, 
                           ["FIH00529", "CPE04024"], 
                           'str_005_ec', 'STR005')

STR006 = process_portfolio(carteras_filtered, df_filtered, xref, 
                           ["LXMS0660", "CL19778"], 
                           'str_006_sec', 'STR006')

STR007 = process_portfolio(carteras_filtered, df_filtered, xref, 
                           ["FIG05301"], 
                           'str_007_sect', 'STR007')

CS001 = process_portfolio(carteras_filtered, df_filtered, xref, 
                          ["CPE03744"], 
                          'cs_001_sec', 'CS001')

ART8 = process_portfolio(carteras_filtered, df_filtered, xref, 
                         ["FPG00015", "FPG01421", "FPH00254", "EPV00052", "EPV00051", "EPV00050", "FPG00026", "FPG00555", "EPV14006",
                           "FIF00154", "FIF04284", "FIF04285", "FIG00026", "FIG00689", "FIG01973", "FIG01988", "FIG01998", "FIG02164",
                            "FIG02410", "FIG04251", "FIG04253", "FIG04868", "FIG05178", "FIG05198", "FIG05415", "FIG05428", "FIG05698",
                            "FIH00058", "FIH00208", "FIH01197", "FIH01920", "FIN00315", "FIN00441", "FIN00637", "CMD07211", "CMD07212", 
                            "CMD07213", "CMD07214", "CMD07215", "CMD08211", "CMD08212", "CMD08213", "CMD08214", "CMD08215", "PFIT0042", 
                            "PFIT0516", "PFIT0605", "PFIT0647", "PFIT1421", "PFIT1422", "PFIT1423", "PFIT1424", "PFIT1425", "PFIT1426", 
                            "PFIT1830", "PFS00001", "PFS00002", "PFS00058", "PFS00059", "PFS00358", "PFS00359", "PFS00360", "PFS00365", 
                            "PFS00366", "PFS00371", "PFSULM01", "PFSULM02", "PFSULM03", "PFSULM04", "PFSULM05", "LXMS0020", "LXMS0040", 
                            "LXMS0240", "LXMS0360", "LXMS0520", "LXMS0530", "LXMS0540", "LXMS0340", "LXMS0350", "LXMS0650", "LXMS0630", 
                            "LXMS0550", "LXMS0560", "LXMS0570", "PFI01549", "PFIT0011", "FPG00687", "FPG01066", "LXMS0580", "FIG05774", 
                            "LXMS0730"], 
                         'art_8_basicos', 'ART8')

STR003B = process_portfolio(carteras_filtered, df_filtered, xref, 
                            ["CPE00035", "CPE00169", "CPE00264", "CPE00277", "CPE00363", "CPE00375", "CPE00448", "CPE00456", "CPE00464", 
                             "CPE03002", "CPE03290", "CPE03519", "CPE03570", "CPE03853", "CPE03867", "CPE03912", "CPE03913", "CPE03928", 
                             "CPE03986", "CPE04036", "CPE04037", "CPE04039", "CPE04041", "CPE04044", "CPE04053", "CPE04059", "CPE04063", 
                             "CPE04070", "CPE04071", "CPE04075", "CPE04076", "CPE04077", "CPE04080", "CPE04081", "CPE04082", "CPE04084", 
                             "CPE04087", "CPE05134", "CPE05137", "CPE05148", "CPE05150", "CPE05151", "CPE05152", "CPE05162", "CPE05174", 
                             "CPE05177", "CPE05180", "CPE05189", "CPE05190", "CPE05191", "CPE05192", "CPE05207", "CPE05208", "CPE05211", 
                             "CPE05212", "CPE05218", "CPE05219", "CPE05226", "CPE05234", "CPE05239", "CPE05242", "CPE05244", "CPE05245", 
                             "CPE05248", "CPE05252", "CPE05258", "CPE05261", "CPE05314", "CPE05315", "CPE05317", "CPE05318", "CPE05337", 
                             "CPE05340", "CPE05341", "CPE05344", "CPE05351", "CPE05355", "CPE05361", "CPE05362", "CPE05363", "CPE05366"], 
                            'str_003b_ec', 'STR003B')

In [20]:
dfs_list = [STR001, STR002, STR003, STR004, STR004_SB, STR005, STR006, STR007, CS001, ART8, STR003B]

for datafeed in dfs_list:
    print(datafeed.shape)

(0, 4)
(2, 4)
(0, 4)
(305, 4)
(283, 4)
(1, 4)
(1, 4)
(0, 4)
(7, 4)
(3, 4)
(1, 4)

Fichero Incumplimientos

In [21]:
#Edit month accordingly
month_date = "202406"

extension = ".csv"
path = "X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/04_Incumplimientos/Incumplimientos/Incumplimientos_" + month_date + extension

dfs_list = [STR001, STR002, STR003, STR004, STR004_SB, STR005, STR006, STR007, CS001, ART8, STR003B]

# Edit column names for the export format
for datafeed in dfs_list:
    datafeed["strategy_name"] = datafeed.columns[-1]
    datafeed["date"] = month_date
    datafeed.rename(columns={datafeed.columns[-3]: "resultado"}, inplace=True)

In [22]:
df_export = pd.concat(dfs_list, ignore_index=True)
grouped_df_export = df_export.groupby(["strategy_name","issuername", "issuerid", "date"])["portfolio"].apply(list).reset_index()

In [23]:
grouped_df_export

,strategy_name,issuername,issuerid,date,portfolio
0,ART8,SCANIA CV AB MTN RegS,R72763,202406,"[FIN00315, LXMS0580, FIH01197]"
1,CS001,EDP ENERGIAS DE PORTUGAL SA,R51104,202406,[CPE03744]
2,CS001,KERING SA,R57939,202406,[CPE03744]
3,CS001,REDEIA CORPORACION SA,R57882,202406,[CPE03744]
4,CS001,REPSOL SA,760269,202406,[CPE03744]
...,...,...,...,...,...
190,STR004_SB,VOLVO CAR AB MTN RegS,H46732,202406,"[FIG05402, FIG05240, FIG05241]"
191,STR004_SB,VOLVO TREASURY AB,R60254,202406,"[FPB01158, FIG00677]"
192,STR004_SB,VOLVO TREASURY AB MTN RegS,R60254,202406,"[FPB01158, FIG00677]"
193,STR005,ALLIANZ,R66197,202406,[FIH00529]
194,STR006,FIBRA UNO RegS,G44929,202406,[LXMS0660]

In [24]:
# export results to a csv file
STR001.to_csv(path, index=False, header=True)
for datafeed in [STR002, STR003, STR004, STR004_SB, STR005, STR006, STR007, CS001, ART8, STR003B]:    
    datafeed.to_csv(path, index=False, mode='a', header=False)

In [25]:
# export results to a csv file with alternative format
path_2 = "X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/04_Incumplimientos/Incumplimientos/Incumplimientos_v2_" + month_date + extension
grouped_df_export.to_csv(path_2, index=False, header=True)

PermissionError: [Errno 13] Permission denied: 'X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/04_Incumplimientos/Incumplimientos/Incumplimientos_v2_202406.csv'