In [1]:
## DF
#Librerías
import numpy as np
import pandas as pd
import pandas
print(pandas.__version__)

1.4.2

In [2]:
!python --version

Python 3.9.12

In [3]:
pd.__version__

'1.4.2'

In [4]:
#Read Sustainalytics file mes anterior
Sust_before=pd.read_csv('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/DF_para_python/Sustainalytics/new filter (4)_27122023.csv', sep=',', dtype='unicode', encoding='latin-1')

In [5]:
#Read Sustainalytics file mes actual
Sust_after=pd.read_csv('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/DF_para_python/Sustainalytics/new filter (4)_05022024.csv', sep=',', dtype='unicode', encoding='latin-1')

In [6]:
#columnas correspondientes en ambos dataframes
Sust_before_sr = Sust_before.loc[:, ['Entity Name', 'Entity ID', 'Highest Controversy Level-Answer Category']]
Sust_after_sr = Sust_after.loc[:, ['Entity Name', 'Entity ID', 'Highest Controversy Level-Answer Category']]

In [7]:
Sust_before_sr = Sust_before_sr.drop_duplicates()
Sust_after_sr = Sust_after_sr.drop_duplicates()

In [8]:
Sust_before_sr.info()
Sust_after_sr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17195 entries, 0 to 17194
Data columns (total 3 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Entity Name                                17195 non-null  object
 1   Entity ID                                  17195 non-null  object
 2   Highest Controversy Level-Answer Category  17195 non-null  object
dtypes: object(3)
memory usage: 537.3+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 17100 entries, 0 to 17099
Data columns (total 3 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Entity Name                                17100 non-null  object
 1   Entity ID                                  17100 non-null  object
 2   Highest Controversy Level-Answer Category  17100 non-null  object
dtypes: object(3)
memory usage: 534.4+ KB

In [9]:
# Cambinar en función de Entity ID
Sust_merged_sr = pd.merge(Sust_before_sr, Sust_after_sr, on='Entity ID',suffixes=('_before', '_after'))

In [10]:
Sust_merged_sr.head()
Sust_merged_sr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16728 entries, 0 to 16727
Data columns (total 5 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Entity Name_before                                16728 non-null  object
 1   Entity ID                                         16728 non-null  object
 2   Highest Controversy Level-Answer Category_before  16728 non-null  object
 3   Entity Name_after                                 16728 non-null  object
 4   Highest Controversy Level-Answer Category_after   16728 non-null  object
dtypes: object(5)
memory usage: 784.1+ KB

In [11]:
Sust_merged_sr_without_duplicates = Sust_merged_sr.drop_duplicates()
Sust_merged_sr_without_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16728 entries, 0 to 16727
Data columns (total 5 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Entity Name_before                                16728 non-null  object
 1   Entity ID                                         16728 non-null  object
 2   Highest Controversy Level-Answer Category_before  16728 non-null  object
 3   Entity Name_after                                 16728 non-null  object
 4   Highest Controversy Level-Answer Category_after   16728 non-null  object
dtypes: object(5)
memory usage: 784.1+ KB

In [12]:
Sust_merged_sr_without_duplicates.drop(['Entity Name_after'], axis = 'columns', inplace=True)
Sust_merged_sr_without_duplicates.rename(columns = {'Entity Name_before':'Entity Name'},inplace =True)
Sust_merged_sr_without_duplicates= Sust_merged_sr_without_duplicates[['Entity ID','Entity Name', 'Highest Controversy Level-Answer Category_before','Highest Controversy Level-Answer Category_after']]

In [13]:
Sust_merged_sr_without_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16728 entries, 0 to 16727
Data columns (total 4 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Entity ID                                         16728 non-null  object
 1   Entity Name                                       16728 non-null  object
 2   Highest Controversy Level-Answer Category_before  16728 non-null  object
 3   Highest Controversy Level-Answer Category_after   16728 non-null  object
dtypes: object(4)
memory usage: 653.4+ KB

In [14]:
# Crear columna de variación, verificación
Sust_merged_sr_without_duplicates['Variation_Controversy'] = Sust_merged_sr_without_duplicates.apply(
    lambda row: row['Highest Controversy Level-Answer Category_before'] != row['Highest Controversy Level-Answer Category_after'], axis=1)

In [15]:
Sust_merged_sr_without_duplicates.head()
Sust_merged_sr_without_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16728 entries, 0 to 16727
Data columns (total 5 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Entity ID                                         16728 non-null  object
 1   Entity Name                                       16728 non-null  object
 2   Highest Controversy Level-Answer Category_before  16728 non-null  object
 3   Highest Controversy Level-Answer Category_after   16728 non-null  object
 4   Variation_Controversy                             16728 non-null  bool
dtypes: bool(1), object(4)
memory usage: 669.8+ KB

In [16]:
Sust_merged_sr_without_duplicates['Entity ID'].value_counts()

1264207944    1
2008963406    1
1020982926    1
2008416189    1
2000970938    1
             ..
2011201107    1
2013521440    1
2000062857    1
2006841838    1
2006129006    1
Name: Entity ID, Length: 16728, dtype: int64

In [17]:
# Crear una lista con el orden deseado de las columnas
column_order = ['Entity ID','Entity Name'] + [col for col in Sust_merged_sr_without_duplicates.columns if col not in ['Entity ID','Entity Name']]

# Reordenar las columnas del dataframe según la lista creada
Sust_merged_sr_without_duplicates = Sust_merged_sr_without_duplicates.reindex(columns=column_order)

In [18]:
Sust_merged_sr_without_duplicates.head()

,Entity ID,Entity Name,Highest Controversy Level-Answer Category_before,Highest Controversy Level-Answer Category_after,Variation_Controversy
0,1264207944,1&1 AG,Category 1,Category 1,False
1,1007902331,"1-800-FLOWERS.COM, Inc.",Category 1,Category 1,False
2,2000259050,"10X Genomics, Inc.",Category 1,Category 1,False
3,2002992103,11 Bit Studios SA,No evidence of relevant controversies,No evidence of relevant controversies,False
4,1008054650,1st Source Corp.,Category 1,Category 1,False

In [19]:
#Para solo seleecionar las col que a unir en el resumen 
V_Controversy=Sust_merged_sr_without_duplicates[['Entity ID','Entity Name','Variation_Controversy']]

In [20]:
V_Controversy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16728 entries, 0 to 16727
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Entity ID              16728 non-null  object
 1   Entity Name            16728 non-null  object
 2   Variation_Controversy  16728 non-null  bool
dtypes: bool(1), object(2)
memory usage: 408.4+ KB

In [21]:
pd.Series(V_Controversy.Variation_Controversy).value_counts()

False    16514
True       214
Name: Variation_Controversy, dtype: int64

In [22]:
Ctrv_True=Sust_merged_sr_without_duplicates
in_True_Ctrv= Ctrv_True['Variation_Controversy']==True
Ctrv_True= Ctrv_True[in_True_Ctrv]
Ctrv_True.head()
Ctrv_True.to_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/DF_para_python/Sustainalytics/Var_SR_True.xlsx',index=False)

In [23]:
Ctrv_True = Ctrv_True[['Entity ID','Entity Name','Variation_Controversy','Highest Controversy Level-Answer Category_before','Highest Controversy Level-Answer Category_after']]

In [24]:
Ctrv_True.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 92 to 16459
Data columns (total 5 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Entity ID                                         214 non-null    object
 1   Entity Name                                       214 non-null    object
 2   Variation_Controversy                             214 non-null    bool
 3   Highest Controversy Level-Answer Category_before  214 non-null    object
 4   Highest Controversy Level-Answer Category_after   214 non-null    object
dtypes: bool(1), object(4)
memory usage: 8.6+ KB

In [25]:
pd.Series(Ctrv_True.Variation_Controversy).value_counts()

True    214
Name: Variation_Controversy, dtype: int64

In [26]:
Ctrv_True.to_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/DF_para_python/Sustainalytics/Var_SR_True2.xlsx',index=False)