In [1]:
## DF
#Librerías
import numpy as np
import pandas as pd
import pandas
print(pandas.__version__)

1.4.2

In [2]:
!python --version

Python 3.9.12

In [3]:
pd.__version__

'1.4.2'

In [4]:
#Read DF originales,mes anterior julio
DF_before=pd.read_csv('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/01_Ficheros_originales (Descarga en bruto)/20240101_Equities_feed_new_strategies_filtered_old_names_iso_permId.csv', sep=',', dtype='unicode')
DF_after=pd.read_csv('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/04_Datos Clarity/01_Equities_feed/01_Ficheros_originales (Descarga en bruto)/20240201_Equities_feed_new_strategies_filtered_old_names_iso_permId.csv', sep=',', dtype='unicode')

In [5]:
#CROSS REFERENCE 
CROSS_REFERENCE_before=pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/03_Cross Reference/20240101_Aladdin_Clarity_Issuers.xlsx')
CROSS_REFERENCE_after=pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/03_Cross Reference/20240201_Aladdin_Clarity_Issuers.xlsx')

In [6]:
#Pasar la etiquetas 'ClarityID' 'ClarityID' a int
DF_before[['permId','ClarityID']] = DF_before[['permId', 'ClarityID']].astype('int64')
DF_before[['permId', 'ClarityID']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275921 entries, 0 to 1275920
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   permId     1275921 non-null  int64
 1   ClarityID  1275921 non-null  int64
dtypes: int64(2)
memory usage: 19.5 MB

In [7]:
DF_after['permId'] = DF_after['permId'].astype('float')
DF_after['permId'] = DF_after['permId'].round().astype('Int64')
DF_after['ClarityID'] = DF_after['ClarityID'].astype('Int64')
DF_after[['permId', 'ClarityID']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359858 entries, 0 to 1359857
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   permId     1359858 non-null  Int64
 1   ClarityID  1359858 non-null  Int64
dtypes: Int64(2)
memory usage: 23.3 MB

In [8]:
DF_before= DF_before.drop_duplicates(subset='permId')
DF_after=DF_after.drop_duplicates(subset='permId')

In [9]:
CROSS_REFERENCE_before['CLARITY_AI'] = pd.to_numeric(CROSS_REFERENCE_before['CLARITY_AI'], errors='coerce')
CROSS_REFERENCE_before['CLARITY_AI'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 115452 entries, 0 to 115451
Series name: CLARITY_AI
Non-Null Count   Dtype
--------------   -----
115452 non-null  int64
dtypes: int64(1)
memory usage: 902.1 KB

In [10]:
CROSS_REFERENCE_before['CLARITY_AI'] = CROSS_REFERENCE_before['CLARITY_AI'].round().astype('Int64')
CROSS_REFERENCE_before['CLARITY_AI'].head()

0    4295903254
1    4295894740
2    4295890743
3    4296540158
4    4296435746
Name: CLARITY_AI, dtype: Int64

In [11]:
CROSS_REFERENCE_after['CLARITY_AI'] = CROSS_REFERENCE_after['CLARITY_AI'].round().astype('Int64')
CROSS_REFERENCE_after['CLARITY_AI'].head()

0    4295903254
1    4295894740
2    4295890743
3    4296540158
4    4296435746
Name: CLARITY_AI, dtype: Int64

In [12]:
#Read Advised 
Advby_before=pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/7. MANDATOS ESG/01_Documentación_mandatos/Blackrock/Script_Resultados/012024_Advisedby.xlsx')
Advby_after=pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/7. MANDATOS ESG/01_Documentación_mandatos/Blackrock/Script_Resultados/022024_Advisedby.xlsx')

In [13]:
Advby_before.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Issuer ID  1234 non-null   object
dtypes: object(1)
memory usage: 9.8+ KB

In [14]:
#columnas correspondientes en ambos dataframes
Advby_before_sr = Advby_before.loc[:, ['Issuer ID']]
Advby_after_sr = Advby_after.loc[:, ['Issuer ID']]

In [15]:
Advby_before_sr = Advby_before_sr.drop_duplicates()
Advby_after_sr = Advby_after_sr.drop_duplicates()

In [16]:
Advby_before_sr.info()
Advby_after_sr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1216 entries, 0 to 1233
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Issuer ID  1216 non-null   object
dtypes: object(1)
memory usage: 19.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1213 entries, 0 to 1229
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Issuer ID  1213 non-null   object
dtypes: object(1)
memory usage: 19.0+ KB

In [17]:
CROSS_REFERENCE_after_filtered = CROSS_REFERENCE_after.loc[CROSS_REFERENCE_after['Aladdin_Issuer'].isin(Advby_after['Issuer ID'])]

In [18]:
CROSS_REFERENCE_after_filtered.info()
CROSS_REFERENCE_after_filtered.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1207 entries, 0 to 115414
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Aladdin_Issuer  1207 non-null   object
 1   Issuer_Name     1207 non-null   object
 2   CLARITY_AI      1207 non-null   Int64
dtypes: Int64(1), object(2)
memory usage: 38.9+ KB

   Aladdin_Issuer                     Issuer_Name  CLARITY_AI
0          000176     AMERICAN AIRLINES GROUP INC  4295903254
9          002824             ABBOTT LABORATORIES  4295903265
16         009158  AIR PRODUCTS AND CHEMICALS INC  4295903294
25         017900      ALLSTATE CORPORATION (THE)  4295903316
27         018802             ALLIANT ENERGY CORP  4295911995

In [19]:
CROSS_REFERENCE_before_filtered = CROSS_REFERENCE_before.loc[CROSS_REFERENCE_before['Aladdin_Issuer'].isin(Advby_before['Issuer ID'])]

In [20]:
CROSS_REFERENCE_before_filtered.info()
CROSS_REFERENCE_before_filtered.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1078 entries, 39 to 115414
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Aladdin_Issuer  1078 non-null   object
 1   Issuer_Name     1078 non-null   object
 2   CLARITY_AI      1078 non-null   Int64
dtypes: Int64(1), object(2)
memory usage: 34.7+ KB

    Aladdin_Issuer                          Issuer_Name  CLARITY_AI
39          02553J  AMERICAN ELECTRIC POWER COMPANY INC  4295903333
63          04247A       ARMSTRONG WORLD INDUSTRIES INC  4295912011
79          05380R                            AVNET INC  4295903504
119         10113T        BOSTON SCIENTIFIC CORPORATION  4295903586
137         12611L                   CNA FINANCIAL CORP  4295903632

In [21]:
DF_before_filtered = DF_before.loc[DF_before['permId'].isin(CROSS_REFERENCE_before_filtered['CLARITY_AI'])]

In [22]:
DF_before_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989 entries, 2609 to 1275394
Columns: 276 entries, isin to maxexp_oil_fuels_part
dtypes: int64(2), object(274)
memory usage: 2.1+ MB

In [23]:
DF_before_filtered.head()

,isin,instrument_type,issuer_name,issuer_country,gics2_industry,region,company_inheriting,parent_company,esg_score,esg_score_relevance,...,maxexp_gas_fuels_prod,exp_gas_fuels_part,minexp_gas_fuels_part,maxexp_gas_fuels_part,exp_oil_fuels_prod,minexp_oil_fuels_prod,maxexp_oil_fuels_prod,exp_oil_fuels_part,minexp_oil_fuels_part,maxexp_oil_fuels_part
2609,US11135FAS02,FIXED_INCOME,Broadcom Inc,United States of America,Semiconductors & Semiconductor Equipment,N America,False,-,65,89.23,...,0.00,False,0.00,0.00,False,0.00,0.00,False,0.00,0.00
2991,US38141EC642,FIXED_INCOME,Goldman Sachs Group Inc,United States of America,Financial Services,N America,False,-,58,86.48,...,0.00,False,NaN,NaN,False,0.00,0.00,False,NaN,NaN
3096,BRP1NRBDR003,EQUITY,Pentair PLC,Ireland,Capital Goods,Europe,False,-,68,90.57,...,0.00,False,0.00,0.00,False,0.00,0.00,False,0.00,0.00
3097,USU94106AD04,FIXED_INCOME,Waste Management Inc,United States of America,Commercial & Professional Services,N America,False,-,65,96.48,...,0.00,False,0.00,0.00,False,0.00,0.00,False,0.00,0.00
3128,US45866FAP99,FIXED_INCOME,Intercontinental Exchange Inc,United States of America,Financial Services,N America,False,-,53,78.68,...,0.00,False,0.00,0.00,False,0.00,0.00,False,0.00,0.00

In [24]:
DF_before_filtered= DF_before_filtered.drop_duplicates(subset='ClarityID')
DF_before_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989 entries, 2609 to 1275394
Columns: 276 entries, isin to maxexp_oil_fuels_part
dtypes: int64(2), object(274)
memory usage: 2.1+ MB

In [25]:
DF_after_filtered = DF_after.loc[DF_after['permId'].isin(CROSS_REFERENCE_after_filtered['CLARITY_AI'])]

In [26]:
DF_after_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1120 entries, 3929 to 1346952
Columns: 276 entries, isin to maxexp_oil_fuels_part
dtypes: Int64(2), object(274)
memory usage: 2.4+ MB

In [27]:
DF_after_filtered= DF_after_filtered.drop_duplicates(subset='ClarityID')
DF_after_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1120 entries, 3929 to 1346952
Columns: 276 entries, isin to maxexp_oil_fuels_part
dtypes: Int64(2), object(274)
memory usage: 2.4+ MB

In [28]:
DF_after_filtered = DF_after_filtered.drop_duplicates()
DF_after_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1120 entries, 3929 to 1346952
Columns: 276 entries, isin to maxexp_oil_fuels_part
dtypes: Int64(2), object(274)
memory usage: 2.4+ MB

In [29]:
#columnas correspondientes en ambos dataframes
DF_before_filtered_sr = DF_before_filtered.loc[:, ['issuer_name', 'permId', 'art_8_basicos']]
DF_after_filtered_sr = DF_after_filtered.loc[:, ['issuer_name','permId', 'art_8_basicos']]

In [30]:
DF_before_filtered_sr = DF_before_filtered_sr.drop_duplicates()
DF_after_filtered_sr = DF_after_filtered_sr.drop_duplicates()

In [31]:
# Cambinar en función de permId
DF_merged_sr = pd.merge(DF_before_filtered_sr, DF_after_filtered_sr, on='permId',suffixes=('_before', '_after'))

In [32]:
DF_merged_sr.head()
DF_merged_sr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978 entries, 0 to 977
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   issuer_name_before    978 non-null    object
 1   permId                978 non-null    int64
 2   art_8_basicos_before  978 non-null    object
 3   issuer_name_after     978 non-null    object
 4   art_8_basicos_after   978 non-null    object
dtypes: int64(1), object(4)
memory usage: 45.8+ KB

In [33]:
DF_merged_sr_without_duplicates = DF_merged_sr.drop_duplicates()
DF_merged_sr_without_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978 entries, 0 to 977
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   issuer_name_before    978 non-null    object
 1   permId                978 non-null    int64
 2   art_8_basicos_before  978 non-null    object
 3   issuer_name_after     978 non-null    object
 4   art_8_basicos_after   978 non-null    object
dtypes: int64(1), object(4)
memory usage: 45.8+ KB

In [34]:
DF_merged_sr_without_duplicates.drop(['issuer_name_after'], axis = 'columns', inplace=True)
DF_merged_sr_without_duplicates.rename(columns = {'issuer_name_before':'issuer_name'},inplace =True)
DF_merged_sr_without_duplicates= DF_merged_sr_without_duplicates[['permId','issuer_name', 'art_8_basicos_before','art_8_basicos_after']]

In [35]:
DF_merged_sr_without_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978 entries, 0 to 977
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   permId                978 non-null    int64
 1   issuer_name           978 non-null    object
 2   art_8_basicos_before  978 non-null    object
 3   art_8_basicos_after   978 non-null    object
dtypes: int64(1), object(3)
memory usage: 38.2+ KB

In [36]:
# Crear columna de variación, verificación
DF_merged_sr_without_duplicates['Variation_art_8_basicos'] = DF_merged_sr_without_duplicates.apply(
    lambda row: row['art_8_basicos_before'] != row['art_8_basicos_after'], axis=1)

In [37]:
DF_merged_sr_without_duplicates.head()
DF_merged_sr_without_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978 entries, 0 to 977
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   permId                   978 non-null    int64
 1   issuer_name              978 non-null    object
 2   art_8_basicos_before     978 non-null    object
 3   art_8_basicos_after      978 non-null    object
 4   Variation_art_8_basicos  978 non-null    bool
dtypes: bool(1), int64(1), object(3)
memory usage: 39.2+ KB

In [38]:
DF_merged_sr_without_duplicates['permId'].value_counts()

5060689053    1
5057776667    1
4297849840    1
4295904043    1
5068663165    1
             ..
4295907850    1
4295900037    1
4295900158    1
4295905539    1
4298034272    1
Name: permId, Length: 978, dtype: int64

In [39]:
# Crear una lista con el orden deseado de las columnas
column_order = ['permId','issuer_name'] + [col for col in DF_merged_sr_without_duplicates.columns if col not in ['permId','issuer_name']]

# Reordenar las columnas del dataframe según la lista creada
DF_merged_sr_without_duplicates = DF_merged_sr_without_duplicates.reindex(columns=column_order)

In [40]:
DF_merged_sr_without_duplicates.head()

,permId,issuer_name,art_8_basicos_before,art_8_basicos_after,Variation_art_8_basicos
0,5060689053,Broadcom Inc,OK,OK,False
1,4295911963,Goldman Sachs Group Inc,FLAG,FLAG,False
2,5040925358,Pentair PLC,OK,OK,False
3,4295905311,Waste Management Inc,OK,OK,False
4,5038915059,Intercontinental Exchange Inc,OK,OK,False

In [41]:
#Para solo seleecionar las col que a unir en el resumen 
V_art_8_basicos=DF_merged_sr_without_duplicates[['permId','issuer_name','Variation_art_8_basicos']]

In [42]:
V_art_8_basicos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 978 entries, 0 to 977
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   permId                   978 non-null    int64
 1   issuer_name              978 non-null    object
 2   Variation_art_8_basicos  978 non-null    bool
dtypes: bool(1), int64(1), object(1)
memory usage: 23.9+ KB

In [43]:
pd.Series(V_art_8_basicos.Variation_art_8_basicos).value_counts()

False    953
True      25
Name: Variation_art_8_basicos, dtype: int64

In [44]:
True_art_8_basicos=DF_merged_sr_without_duplicates
in_True_art_8_basicos= True_art_8_basicos['Variation_art_8_basicos']==True
True_art_8_basicos= True_art_8_basicos[in_True_art_8_basicos]

In [45]:
True_art_8_basicos.head()

,permId,issuer_name,art_8_basicos_before,art_8_basicos_after,Variation_art_8_basicos
5,4295905573,Apple Inc,EXCLUDED,FLAG,True
10,5035523437,Viatris Inc,OK,FLAG,True
32,4295908552,Berkshire Hathaway Inc,OK,FLAG,True
33,5030853586,Alphabet Inc,EXCLUDED,FLAG,True
48,4295903829,Cummins Inc,OK,EXCLUDED,True

In [46]:
True_art_8_basicos = True_art_8_basicos[['permId','issuer_name','Variation_art_8_basicos','art_8_basicos_before','art_8_basicos_after',]]

In [47]:
True_art_8_basicos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 5 to 901
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   permId                   25 non-null     int64
 1   issuer_name              25 non-null     object
 2   Variation_art_8_basicos  25 non-null     bool
 3   art_8_basicos_before     25 non-null     object
 4   art_8_basicos_after      25 non-null     object
dtypes: bool(1), int64(1), object(3)
memory usage: 1.0+ KB

In [48]:
pd.Series(True_art_8_basicos.Variation_art_8_basicos).value_counts()

True    25
Name: Variation_art_8_basicos, dtype: int64

In [49]:
CROSS_REFERENCE_after.head()

  Aladdin_Issuer                      Issuer_Name  CLARITY_AI
0         000176      AMERICAN AIRLINES GROUP INC  4295903254
1         000375                           BP PLC  4295894740
2         00038A                          ABB LTD  4295890743
3         00077B               NATWEST MARKETS NV  4296540158
4         00138E  AIG MATCHED FUNDING CORPORATION  4296435746

In [50]:
CROSS_REFERENCE_after = CROSS_REFERENCE_after.rename(columns={'Aladdin_Issuer': 'Issuer ID', 'Issuer_Name': 'Issuer_Name','CLARITY_AI': 'permId'})

In [51]:
CROSS_REFERENCE_after.head()

  Issuer ID                      Issuer_Name      permId
0    000176      AMERICAN AIRLINES GROUP INC  4295903254
1    000375                           BP PLC  4295894740
2    00038A                          ABB LTD  4295890743
3    00077B               NATWEST MARKETS NV  4296540158
4    00138E  AIG MATCHED FUNDING CORPORATION  4296435746

In [52]:
# Cambinar en función de permId
True_art_8_basicos_merged = pd.merge(True_art_8_basicos, CROSS_REFERENCE_after, on='permId')

In [53]:
True_art_8_basicos_merged.head()

,permId,issuer_name,Variation_art_8_basicos,art_8_basicos_before,art_8_basicos_after,Issuer ID,Issuer_Name
0,4295905573,Apple Inc,True,EXCLUDED,FLAG,D00340,APPLE INC
1,5035523437,Viatris Inc,True,OK,FLAG,J20073,VIATRIS INC
2,4295908552,Berkshire Hathaway Inc,True,OK,FLAG,R49515,BERKSHIRE HATHAWAY INC
3,5030853586,Alphabet Inc,True,EXCLUDED,FLAG,H27234,ALPHABET INC
4,4295903829,Cummins Inc,True,OK,EXCLUDED,21302L,CUMMINS INC

In [54]:
True_art_8_basicos_merged=True_art_8_basicos_merged.drop(columns='Issuer_Name')

In [55]:
True_art_8_basicos_merged=True_art_8_basicos_merged.drop(columns='permId')

In [56]:
True_art_8_basicos_merged=True_art_8_basicos_merged.drop(columns='Variation_art_8_basicos')

In [57]:
True_art_8_basicos_merged.head()

              issuer_name art_8_basicos_before art_8_basicos_after Issuer ID
0               Apple Inc             EXCLUDED                FLAG    D00340
1             Viatris Inc                   OK                FLAG    J20073
2  Berkshire Hathaway Inc                   OK                FLAG    R49515
3            Alphabet Inc             EXCLUDED                FLAG    H27234
4             Cummins Inc                   OK            EXCLUDED    21302L

In [58]:
True_art_8_basicos_merged = True_art_8_basicos_merged[['Issuer ID','issuer_name','art_8_basicos_before','art_8_basicos_after',]]

In [59]:
True_art_8_basicos_merged.to_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/7. MANDATOS ESG/01_Documentación_mandatos/Blackrock/Script_Resultados/Advisedby_cambios_022024.xlsx',index=False)