In [1]:
## DF
#Librerías
import numpy as np
import pandas as pd

In [2]:
#crossreference del mes 

crossreference=pd.read_excel('X:/INVDESPRO/INVESTIGACION/Fondos éticos/3. DATASETS/03_Cross Reference/20240101_Aladdin_Clarity_Issuers.xlsx')

In [3]:
#Carteras, sustituir por cartera a utilizar --> `C:/Users/nXXXXXX/Downloads/xxxxxx.xlsx`. Descargar de Aladdin (Workspace: Descarga_Incumplimientos)
file_path= 'C:/Users/n629352/Downloads/Risk and exposure - 2024-01-16T092912.080.xlsx'
Carteras =pd.read_excel(file_path, sheet_name =None, skiprows=4)

C:\Program Files\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
Carteras= pd.concat(Carteras.values(), ignore_index=True)
Carteras.info()
Carteras.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75285 entries, 0 to 75284
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SNT-WORLD    75284 non-null  object
 1   SNT-WORLD.1  75282 non-null  object
 2   1.0          75282 non-null  float64
 3   Unnamed: 3   60405 non-null  object
 4   Unnamed: 4   75282 non-null  object
dtypes: float64(1), object(4)
memory usage: 2.9+ MB

           SNT-WORLD SNT-WORLD.1  1.0 Unnamed: 3  Unnamed: 4
0  11 BIT STUDIOS SA   SNT-WORLD  0.0     F79892  PLSFIO0519
1  11 BIT STUDIOS SA   SNT-WORLD  0.0     F79892  PLSFIO0085
2  11 BIT STUDIOS SA   SNT-WORLD  0.0     F79892  PLFIO00337
3  11 BIT STUDIOS SA   SNT-WORLD  0.0     F79892  PLFIO00003
4  11 BIT STUDIOS SA   SNT-WORLD  0.0     F79892  PLFIO00004

In [5]:
carteras_filtered=Carteras.iloc[:,[0,3,4]]
carteras_filtered.columns = ['IssuerID', 'IssuerName','Portfolio']
carteras_filtered.info()
carteras_filtered.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75285 entries, 0 to 75284
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   IssuerID    75284 non-null  object
 1   IssuerName  60405 non-null  object
 2   Portfolio   75282 non-null  object
dtypes: object(3)
memory usage: 1.7+ MB

            IssuerID IssuerName   Portfolio
0  11 BIT STUDIOS SA     F79892  PLSFIO0519
1  11 BIT STUDIOS SA     F79892  PLSFIO0085
2  11 BIT STUDIOS SA     F79892  PLFIO00337
3  11 BIT STUDIOS SA     F79892  PLFIO00003
4  11 BIT STUDIOS SA     F79892  PLFIO00004

In [6]:
#Cambio de nombre, orden y tipo
crossreference.columns= ['IssuerID', 'IssuerName', 'permId']
crossreference= crossreference[['permId','IssuerID', 'IssuerName']]
crossreference['permId']= crossreference['permId'].astype('int64')
crossreference.info()
crossreference.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115452 entries, 0 to 115451
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   permId      115452 non-null  int64
 1   IssuerID    115452 non-null  object
 2   IssuerName  115452 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.6+ MB

       permId IssuerID                       IssuerName
0  4295903254   000176      AMERICAN AIRLINES GROUP INC
1  4295894740   000375                           BP PLC
2  4295890743   00038A                          ABB LTD
3  4296540158   00077B               NATWEST MARKETS NV
4  4296435746   00138E  AIG MATCHED FUNDING CORPORATION

In [7]:
#STR001
carteras_filtered_1= carteras_filtered.copy()
conditions= carteras_filtered_1['Portfolio'].isin(["FPH00457","EPH00107","FPG00028","FPG01214","FPG00027","FPG00603","FPG01213","EPV00060","EPV00064","EPV00063","EPV00062","EPV00061","FIG05273","FPB01158","FIG05240","FIG05241","FIG05402","FIG00677","PFI01541"])

In [8]:
STR001= carteras_filtered_1[conditions].dropna().copy()#elimino datos vacios null
STR001.columns= ['IssuerName', 'IssuerID', 'Portfolio']
STR001.info()
STR001.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3717 entries, 80 to 75280
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   IssuerName  3717 non-null   object
 1   IssuerID    3717 non-null   object
 2   Portfolio   3717 non-null   object
dtypes: object(3)
memory usage: 116.2+ KB

          IssuerName IssuerID Portfolio
80  A2A SPA MTN RegS   R44750  FIG05402
86  A2A SPA MTN RegS   R44750  FIG00677
90  A2A SPA MTN RegS   R44750  FIG05240
91  A2A SPA MTN RegS   R44750  FIG05241
92  A2A SPA MTN RegS   R44750  FPB01158

In [9]:
STR001=pd.merge(STR001,crossreference, on='IssuerID', how='left')

In [10]:
STR001.head()

       IssuerName_x IssuerID Portfolio        permId IssuerName_y
0  A2A SPA MTN RegS   R44750  FIG05402  5.000005e+09      A2A SPA
1  A2A SPA MTN RegS   R44750  FIG00677  5.000005e+09      A2A SPA
2  A2A SPA MTN RegS   R44750  FIG05240  5.000005e+09      A2A SPA
3  A2A SPA MTN RegS   R44750  FIG05241  5.000005e+09      A2A SPA
4  A2A SPA MTN RegS   R44750  FPB01158  5.000005e+09      A2A SPA

In [11]:
STR001 = STR001.drop(columns='IssuerName_y')

In [12]:
STR001 = STR001.drop(columns='IssuerID')

In [13]:
STR001.head()

       IssuerName_x Portfolio        permId
0  A2A SPA MTN RegS  FIG05402  5.000005e+09
1  A2A SPA MTN RegS  FIG00677  5.000005e+09
2  A2A SPA MTN RegS  FIG05240  5.000005e+09
3  A2A SPA MTN RegS  FIG05241  5.000005e+09
4  A2A SPA MTN RegS  FPB01158  5.000005e+09

In [14]:
#Fichero convertido
STR001.to_excel('C:/Users/n629352/Downloads/STR001.xlsx', index=None, header=True)