In [1]:
import pandas as pd
from pathlib import Path

In [2]:
path = r"C:\Users\n740789\Downloads\Issuer report with PERMID column.csv"
path_out = r"C:\Users\n740789\Downloads\duplicated_permids.csv"
crossreference = pd.read_csv(path)

C:\Users\n740789\AppData\Local\Temp\ipykernel_26732\532183200.py:3: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  crossreference = pd.read_csv(path)

In [3]:
crossreference.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455522 entries, 0 to 455521
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   issuer   455522 non-null  object
 1   name     455522 non-null  object
 2   Clarity  131992 non-null  float64
 3   MSCI     64835 non-null   object
 4   SUST     23304 non-null   float64
 5   PERMID   443792 non-null  object
dtypes: float64(2), object(4)
memory usage: 20.9+ MB

In [4]:
len(crossreference.issuer.unique())

455237

In [5]:
test_issuer_id = [
    "C15407",
    "F28750",
    "G26205",
    "G26206",
    "G27752",
    "I56013",
    "I76843",
    "I76942",
    "J25597",
    "J62238",
    "J84685",
    "K33979",
    "K56502",
    "K75466",
    "L07105",
    "L31015",
    "L77787",
]

In [6]:
base_path = Path(r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference")
months = [
    f"2024{month:02}01" for month in range(1, 13)
] + [
    f"2025{month:02}01" for month in range(1, 3)
]

xref_list = []

for date_str in months:
    file_path = base_path / f"Aladdin_Clarity_Issuers_{date_str}.csv"
    df = pd.read_csv(file_path, dtype={'Aladdin_Issuer':str})
    df.rename(columns={
        'Aladdin_Issuer': 'issuer_id',
        'Issuer_Name': 'issuer_name',
        'CLARITY_AI': 'permid'
    }, inplace=True)

    xref_list.append(df)

In [7]:
for date, df in zip(months, xref_list):
    print(f"crossreference of {date}")
    print(df[df.issuer_id.isin(test_issuer_id)][["issuer_id", "issuer_name", "permid"]])
    print("\n")

crossreference of 20240101
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20240201
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20240301
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20240401
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20240501
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20240601
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20240701
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20240801
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20240901
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20241001
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20241101
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20241201
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20250101
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []


crossreference of 20250201
Empty DataFrame
Columns: [issuer_id, issuer_name, permid]
Index: []

In [8]:
#path_xref2401 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20240101.csv"
#path_xref2402 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20240201.csv"
#path_xref2403 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20240301.csv"
#path_xref2404 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20240401.csv"
#path_xref2405 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20240501.csv"
#path_xref2406 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20240601.csv"
#path_xref2407 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20240701.csv"
#path_xref2408 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20240801.csv"
#path_xref2409 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20240901.csv"
#path_xref2410 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20241001.csv"
#path_xref2411 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20241101.csv"
#path_xref2412 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20241201.csv"
#path_xref2501 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20250101.csv"
#path_xref2502 = r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20250201.csv"
#path_xref2503 = r"excel_books/aladdin_data/crossreference/Aladdin_Clarity_Issuers_20250301.csv"
#path_xref2504 = r"excel_books/aladdin_data/crossreference/Aladdin_Clarity_Issuers_20250401.csv"
#xref2401 = pd.read_csv(path_xref2401)
#xref2402 = pd.read_csv(path_xref2402)
#xref2403 = pd.read_csv(path_xref2403)
#xref2404 = pd.read_csv(path_xref2404)
#xref2405 = pd.read_csv(path_xref2405)
#xref2406 = pd.read_csv(path_xref2406)
#xref2407 = pd.read_csv(path_xref2407)
#xref2408 = pd.read_csv(path_xref2408)
#xref2409 = pd.read_csv(path_xref2409)
#xref2410 = pd.read_csv(path_xref2410)
#xref2411 = pd.read_csv(path_xref2411)
#xref2412 = pd.read_csv(path_xref2412)
#xref2501 = pd.read_csv(path_xref2501)
#xref2502 = pd.read_csv(path_xref2502)
#xref2503 = pd.read_csv(path_xref2503)
#xref2504 = pd.read_csv(path_xref2504)
#
#xref_list = [
#    xref2401,
#    xref2402,
#    xref2403,
#    xref2404,
#    xref2405,
#    xref2406,
#    xref2407,
#    xref2408,
#    xref2409,
#    xref2410,
#    xref2411,
#    xref2412,
#    xref2501,
#    xref2502,
#    xref2503,
#    xref2504,
#]
#
#for crossreference in xref_list:
#    crossreference.rename(columns={'Aladdin_Issuer':'issuer_id','Issuer_Name':'issuer_name','CLARITY_AI':'permid'}, inplace=True)
#    print(crossreference[crossreference.issuer_id.str.contains("C15407")])
#    print("\n")

In [9]:
crossreference.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455522 entries, 0 to 455521
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   issuer   455522 non-null  object
 1   name     455522 non-null  object
 2   Clarity  131992 non-null  float64
 3   MSCI     64835 non-null   object
 4   SUST     23304 non-null   float64
 5   PERMID   443792 non-null  object
dtypes: float64(2), object(4)
memory usage: 20.9+ MB

In [10]:
crossreference[crossreference.issuer.str.contains("C15407")]

Empty DataFrame
Columns: [issuer, name, Clarity, MSCI, SUST, PERMID]
Index: []

In [11]:
df = crossreference[["issuer","PERMID","name"]].copy()

In [12]:
df.rename(columns={"issuer":"issuer_id", "PERMID":"permid", "name":"issuer_name"}, inplace=True)

In [13]:
df.head()

  issuer_id      permid                         issuer_name
0    Z27537  5090656669      ARUNA ENERGIAS RENOVAVEIS LTDA
1    Z27359  5093618813                     ALAMOS GOLD INC
2    M83996  5090737325                     ALAMOS GOLD INC
3    Z27264  5079209310          PNC GOMTI HIGHWAYS PVT LTD
4    Z27272  5079222200  PNC BITHUR KANPUR HIGHWAYS PVT LTD

In [14]:
repeated_permid = df[df.permid.duplicated() & df.permid.notna()].copy()

In [15]:
df[df.permid.duplicated() & df.permid.notna()].sort_values(by="permid", key=lambda x: x.astype(str))

       issuer_id      permid                          issuer_name
221000    R55576  4295862077                ROMARCO MINERALS INC.
54496     R48483  4295866829                             ACCOR SA
209045    R95782  4295868079                            INETUM SA
389910    L48161  4295868143                         NOMOTECH SAS
83322     L44914  4295878838                  MORI TRUST REIT INC
...          ...         ...                                  ...
66851     M85640  5090741049         PEREGRINE DEVCO HOLDINGS LLC
167376    M85274  5090763992                   APTIV HOLDINGS LTD
368978    Z23287  5090780055  KENTANIX SUPRA INTERNATIONAL TBK PT
87766     Z21265  5091376575        HERO GLOBAL INVESTMENT TBK PT
90401     N00345  5093733498            SG ENTERPRISES (VADODARA)

[134 rows x 3 columns]

In [16]:
duplicated_permid = df.groupby("permid").filter(lambda x: len(x) > 1).reset_index(drop=True)

In [17]:
duplicated_permid.sort_values(by="permid", key=lambda x: x.astype(str), inplace=True)

In [18]:
duplicated_permid.shape[0]

267

In [19]:
len(duplicated_permid.permid.unique())

133

In [20]:
duplicated_permid.permid.value_counts()

permid
5080021702    3
4295866829    2
4295868079    2
4295868143    2
4295862077    2
             ..
5090741049    2
5090763992    2
5090780055    2
5091376575    2
5093733498    2
Name: count, Length: 133, dtype: int64

In [21]:
duplicated_permid[duplicated_permid.permid=="5080021702"]

    issuer_id      permid                   issuer_name
102    K80212  5080021702  STONEBRIDGE ACQUISITION CORP
66     Z27302  5080021702                 DIGIASIA CORP
43     L78558  5080021702                 DIGIASIA CORP

In [23]:
# save duplicate_permid to downloads as csv
duplicated_permid.to_csv(path_out, index=False)

### Summary: Differences Between `duplicated()` and `groupby().filter()` for Finding Duplicates

#### Method 1: Using `duplicated()`

```python
df[df.permid.duplicated() & df.permid.notna()]
```

- Returns only the **subsequent occurrences** of duplicated `permid` values.
- **Excludes the first occurrence** of each duplicate.
- Operates **row-wise**.
- NaN values are excluded explicitly using `.notna()`.
- Fast and simple, good for quickly identifying repeated entries.

#### Method 2: Using `groupby().filter()`

```python
df.groupby("permid").filter(lambda x: len(x) > 1)
```

- Returns **all rows** where `permid` appears more than once.
- **Includes the first and all subsequent occurrences** of each duplicate.
- Operates **group-wise**.
- Automatically **excludes NaN values**, since `groupby()` does not include `NaN` in group keys by default.
- Useful for preserving the full group of duplicate entries.

#### Key Difference

- `duplicated()` is useful for identifying repeated values but misses the first instance.
- `groupby().filter()` includes all occurrences but does not handle `NaN` unless explicitly grouped with `dropna=False`.