In [1]:
import pandas as pd
import numpy as np

import sys
import os

# Add the project root (one level up from notebooks/) to sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

In [3]:
from scripts.utils.dataloaders import load_clarity_data
from scripts.utils.config import get_config

In [4]:
config = get_config(
    "notebook-datafeeds-explorer", 
    interactive=False,
    auto_date= False,
    fixed_date= "202506")

In [5]:
DATE = config["DATE"]
paths = config["paths"]
df_path = paths["CURRENT_DF_WOUTOVR_SEC_PATH"]

In [9]:
df = load_clarity_data(
    file_path=df_path,
    target_cols=["isin", "issuer_name", "permId", "esg_score", "region", "countryCode","gics2_industry"]
)

2025-06-02 11:16:33,949 - scripts.utils.dataloaders - INFO - Loading Clarity data from: C:\Users\n740789\Documents\Projects_local\datasets\datafeeds\raw_dataset\2025\20250601_Production\20250601_Equities_feed_new_strategies_filtered_old_names_iso_permId.csv
2025-06-02 11:16:48,259 - scripts.utils.dataloaders - INFO - Successfully loaded Clarity data from: C:\Users\n740789\Documents\Projects_local\datasets\datafeeds\raw_dataset\2025\20250601_Production\20250601_Equities_feed_new_strategies_filtered_old_names_iso_permId.csv

In [10]:
df.columns = [c.lower() for c in df.columns]

In [11]:
df.head()

,isin,issuer_name,gics2_industry,region,esg_score,permid,countrycode
0,XS1842065010,SG Issuer SA,Financial Services,Europe,75,5036159086,LU
1,FR0012558716,SG Issuer SA,Financial Services,Europe,75,5036159086,LU
2,XS1597030961,SG Issuer SA,Financial Services,Europe,75,5036159086,LU
3,XS2065400280,SG Issuer SA,Financial Services,Europe,75,5036159086,LU
4,XS2176074420,SG Issuer SA,Financial Services,Europe,75,5036159086,LU

In [15]:
latam = df[(df.region == "LATAM") | (df.region.isna())]

In [16]:
latam.shape

(6350, 7)