In [1]:
from datetime import datetime
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\n740789\Downloads\overrides_backfiller_file.csv",
                 dtype={"permid": str})

In [7]:
ovr_parents = pd.read_excel(r"C:\Users\n740789\Documents\clarity_data_quality_controls\notebooks\output\20250325_override_analysis_issuer.xlsx",
                            dtype={"permid": str, "clarityid":str})

In [30]:
ovr_security = pd.read_excel(
    r"C:\Users\n740789\Downloads\20250318_overrided_db.xlsx", dtype={"permid": str, "clarityid": str}
    )

In [32]:
ovr_security.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   creation_date            0 non-null      float64
 1   last_update_date         0 non-null      float64
 2   next_update_date         0 non-null      float64
 3   clarityid                7672 non-null   object
 4   permid                   7672 non-null   object
 5   brs_id                   5454 non-null   object
 6   issuer_name              7672 non-null   object
 7   parent_sub               7671 non-null   object
 8   parent_name_clarity      7665 non-null   object
 9   parent_clarityid         7671 non-null   float64
 10  parent_name_brs          7600 non-null   object
 11  parent_brs_id            7592 non-null   object
 12  ovr_target               7672 non-null   object
 13  df_value                 7672 non-null   object
 14  ovr_value                7653 non-null   object
 15  ovr_active               7672 non-null   bool
 16  ovr_grounds_srating      29 non-null     object
 17  ovr_grounds_exposure     155 non-null    object
 18  ovr_grounds_controversy  21 non-null     object
 19  ovr_grounds_committee    123 non-null    object
 20  ovr_grounds_inheritance  6942 non-null   object
 21  primary_ovr_ground       7672 non-null   object
 22  secondary_ovr_ground     7199 non-null   object
 23  company_inheriting       7671 non-null   float64
 24  parent_company           7671 non-null   object
 25  comment                  1 non-null      object
 26  evidence                 0 non-null      float64
 27  date                     1 non-null      datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(6), object(20)
memory usage: 1.6+ MB

In [33]:
for c in ovr_security.columns:
    print(c)

creation_date
last_update_date
next_update_date
clarityid
permid
brs_id
issuer_name
parent_sub
parent_name_clarity
parent_clarityid
parent_name_brs
parent_brs_id
ovr_target
df_value
ovr_value
ovr_active
ovr_grounds_srating
ovr_grounds_exposure
ovr_grounds_controversy
ovr_grounds_committee
ovr_grounds_inheritance
primary_ovr_ground
secondary_ovr_ground
company_inheriting
parent_company
comment
evidence
date

In [34]:
# drop empty columns in ovr_security df
ovr_security = ovr_security.dropna(axis=1, how="all")

In [35]:
ovr_security.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   clarityid                7672 non-null   object
 1   permid                   7672 non-null   object
 2   brs_id                   5454 non-null   object
 3   issuer_name              7672 non-null   object
 4   parent_sub               7671 non-null   object
 5   parent_name_clarity      7665 non-null   object
 6   parent_clarityid         7671 non-null   float64
 7   parent_name_brs          7600 non-null   object
 8   parent_brs_id            7592 non-null   object
 9   ovr_target               7672 non-null   object
 10  df_value                 7672 non-null   object
 11  ovr_value                7653 non-null   object
 12  ovr_active               7672 non-null   bool
 13  ovr_grounds_srating      29 non-null     object
 14  ovr_grounds_exposure     155 non-null    object
 15  ovr_grounds_controversy  21 non-null     object
 16  ovr_grounds_committee    123 non-null    object
 17  ovr_grounds_inheritance  6942 non-null   object
 18  primary_ovr_ground       7672 non-null   object
 19  secondary_ovr_ground     7199 non-null   object
 20  company_inheriting       7671 non-null   float64
 21  parent_company           7671 non-null   object
 22  comment                  1 non-null      object
 23  date                     1 non-null      datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(2), object(20)
memory usage: 1.4+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69264 entries, 0 to 69263
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   isin          69264 non-null  object
 1   issuer_name   69264 non-null  object
 2   str_001_s     69264 non-null  object
 3   str_002_ec    69264 non-null  object
 4   str_003_ec    69264 non-null  object
 5   str_004_asec  69264 non-null  object
 6   str_005_ec    69264 non-null  object
 7   scs_001_sec   69264 non-null  object
 8   gp_essccp     69264 non-null  object
 9   scs_003_sec   69264 non-null  object
 10  scs_002_ec    69264 non-null  object
 11  str_006_sec   69264 non-null  object
 12  str_007_sect  69264 non-null  object
 13  gp_esccp_22   69264 non-null  object
 14  gp_esccp_25   69264 non-null  object
 15  gp_esccp_30   69264 non-null  object
 16  str_008_sec   69264 non-null  object
 17  permid        69264 non-null  object
 18  str_003b_ec   69264 non-null  object
 19  aladdin_id    51552 non-null  object
dtypes: object(20)
memory usage: 10.6+ MB

In [8]:
ovr_parents.head()

,last_check_date,next_check_date,permid,clarityid,issuer_name,company_inheriting,parent_company,ovr_str001,ovr_str002,ovr_str003,...,ovr_str002_active,ovr_str003_active,ovr_str003b_active,ovr_str004_active,ovr_str005_active,ovr_str006_active,ovr_cs001_active,ovr_cs002_active,ovr_cs003_active,ovr_art_8_active
0,2025-03-01,NaT,5037613143,167888458,Abbvie Inc,0.0,-,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-03-01,NaT,4295897744,212539,Abrdn PLC,0.0,-,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-03-01,2025-05-01,4295903017,239019,Accenture PLC,0.0,-,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-03-01,NaT,4295889547,66614,ACS Actividades de Construccion y Servicios SA,0.0,-,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-03-01,2025-05-01,4295903299,181131,Affiliated Managers Group Inc,0.0,-,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
ovr_parents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   last_check_date          554 non-null    datetime64[ns]
 1   next_check_date          458 non-null    datetime64[ns]
 2   permid                   740 non-null    object
 3   clarityid                740 non-null    object
 4   issuer_name              740 non-null    object
 5   company_inheriting       736 non-null    float64
 6   parent_company           736 non-null    object
 7   ovr_str001               99 non-null     object
 8   ovr_str002               112 non-null    object
 9   ovr_str003               96 non-null     object
 10  ovr_str003b              75 non-null     object
 11  ovr_str004               104 non-null    object
 12  ovr_str005               28 non-null     object
 13  ovr_str006               97 non-null     object
 14  ovr_cs001                30 non-null     object
 15  ovr_cs002                77 non-null     object
 16  ovr_cs003                86 non-null     object
 17  ovr_art_8                41 non-null     object
 18  str_001                  736 non-null    object
 19  str_002                  736 non-null    object
 20  str_003                  736 non-null    object
 21  str_003b                 736 non-null    object
 22  str_004                  736 non-null    object
 23  str_005                  736 non-null    object
 24  str_006                  736 non-null    object
 25  art_8                    736 non-null    object
 26  cs_001                   736 non-null    object
 27  cs_003                   736 non-null    object
 28  cs_002                   736 non-null    object
 29  ovr_grounds_srating      289 non-null    object
 30  ovr_grounds_exposure     170 non-null    object
 31  ovr_grounds_controversy  72 non-null     object
 32  ovr_grounds_committee    220 non-null    object
 33  comments                 740 non-null    object
 34  ovr_str001_active        98 non-null     float64
 35  ovr_str002_active        111 non-null    float64
 36  ovr_str003_active        95 non-null     float64
 37  ovr_str003b_active       74 non-null     float64
 38  ovr_str004_active        102 non-null    float64
 39  ovr_str005_active        26 non-null     float64
 40  ovr_str006_active        96 non-null     float64
 41  ovr_cs001_active         29 non-null     float64
 42  ovr_cs002_active         76 non-null     float64
 43  ovr_cs003_active         85 non-null     float64
 44  ovr_art_8_active         40 non-null     float64
dtypes: datetime64[ns](2), float64(12), object(31)
memory usage: 260.3+ KB

In [10]:
ovr_parents.shape[0]

740

In [11]:
len(ovr_parents["permid"].unique())

735

In [12]:
len(ovr_parents["clarityid"].unique())

735

In [16]:
for c in ovr_parents.columns:
    print(c)

last_check_date
next_check_date
permid
clarityid
issuer_name
company_inheriting
parent_company
ovr_str001
ovr_str002
ovr_str003
ovr_str003b
ovr_str004
ovr_str005
ovr_str006
ovr_cs001
ovr_cs002
ovr_cs003
ovr_art_8
str_001
str_002
str_003
str_003b
str_004
str_005
str_006
art_8
cs_001
cs_003
cs_002
ovr_grounds_srating
ovr_grounds_exposure
ovr_grounds_controversy
ovr_grounds_committee
comments
ovr_str001_active
ovr_str002_active
ovr_str003_active
ovr_str003b_active
ovr_str004_active
ovr_str005_active
ovr_str006_active
ovr_cs001_active
ovr_cs002_active
ovr_cs003_active
ovr_art_8_active

In [17]:
target_cols =[
    "last_check_date",
    "next_check_date",
    "permid",
    "clarityid",
    "issuer_name",
    "parent_company",
    "ovr_str001_active",
    "ovr_str002_active",
    "ovr_str003_active",
    "ovr_str003b_active",
    "ovr_str004_active",
    "ovr_str005_active",
    "ovr_str006_active",
    "ovr_cs001_active",
    "ovr_cs002_active",
    "ovr_cs003_active",
    "ovr_art_8_active",
]

In [27]:
# let's get permids that appear more than once
dupes_permid = ovr_parents[ovr_parents.duplicated(subset="permid", keep=False)][target_cols].copy()
dupes_clarityid = ovr_parents[ovr_parents.duplicated(subset="clarityid", keep=False)][target_cols].copy()

In [28]:
dupes_permid.sort_values(by="permid")

,last_check_date,next_check_date,permid,clarityid,issuer_name,parent_company,ovr_str001_active,ovr_str002_active,ovr_str003_active,ovr_str003b_active,ovr_str004_active,ovr_str005_active,ovr_str006_active,ovr_cs001_active,ovr_cs002_active,ovr_cs003_active,ovr_art_8_active
69,2024-09-01,2025-03-01,4295866888,69136,Societe Nationale SNCF SA,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
519,2025-03-01,NaT,4295866888,69136,Societe Nationale SNCF SA,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,2024-09-01,2025-03-01,4295884261,38371,Grupo Carso SAB de CV,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,2024-09-01,2025-03-01,4295884261,38371,Grupo Carso SAB de CV,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,2024-09-01,2025-03-01,4295903753,32481,Cleveland-Cliffs Inc,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,2025-03-01,NaT,4295903753,32481,Cleveland-Cliffs Inc,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,2024-09-01,2025-03-01,4295904924,94711,Simon Property Group Inc,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,2024-09-01,2025-03-01,4295904924,94711,Simon Property Group Inc,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,2024-09-01,2025-03-01,4296750143,237113,Talanx AG,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,2024-09-01,2025-03-01,4296750143,237113,Talanx AG,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Sort by 'last_check_date', then 'permid', then prioritize rows with non-null 'next_check_date'
ovr_parents.sort_values(
    by=['last_check_date', 'permid', 'next_check_date'],
    ascending=[True, True, True],  # True for ascending order
    na_position='last',  # rows with NaT or NaN in next_check_date will be last
    inplace=True
)

# Reset the index after sorting
ovr_parents.reset_index(drop=True, inplace=True)

In [29]:
ovr_parents_filtered = ovr_parents.drop_duplicates(subset="permid", keep="first")[target_cols].copy()

In [41]:
f"the right df has {ovr_parents_filtered.shape[0]} rows while the left df has {ovr_security.shape[0]} rows"

'the right df has 735 rows while the left df has 7672 rows'

In [43]:
ovr_parents_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 735 entries, 0 to 739
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   last_check_date     549 non-null    datetime64[ns]
 1   next_check_date     455 non-null    datetime64[ns]
 2   permid              735 non-null    object
 3   clarityid           735 non-null    object
 4   issuer_name         735 non-null    object
 5   parent_company      731 non-null    object
 6   ovr_str001_active   98 non-null     float64
 7   ovr_str002_active   111 non-null    float64
 8   ovr_str003_active   95 non-null     float64
 9   ovr_str003b_active  74 non-null     float64
 10  ovr_str004_active   102 non-null    float64
 11  ovr_str005_active   26 non-null     float64
 12  ovr_str006_active   96 non-null     float64
 13  ovr_cs001_active    29 non-null     float64
 14  ovr_cs002_active    76 non-null     float64
 15  ovr_cs003_active    85 non-null     float64
 16  ovr_art_8_active    40 non-null     float64
dtypes: datetime64[ns](2), float64(11), object(4)
memory usage: 103.4+ KB

In [45]:
ovr_parents_filtered.permid = ovr_parents_filtered.permid.astype(str)
ovr_security.permid = ovr_security.permid.astype(str)

In [46]:
ovr_s_updated = ovr_security.merge(ovr_parents_filtered[["last_check_date","next_check_date","permid"]], on="permid", how="left")

In [47]:
ovr_s_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   clarityid                7672 non-null   object
 1   permid                   7672 non-null   object
 2   brs_id                   5454 non-null   object
 3   issuer_name              7672 non-null   object
 4   parent_sub               7671 non-null   object
 5   parent_name_clarity      7665 non-null   object
 6   parent_clarityid         7671 non-null   float64
 7   parent_name_brs          7600 non-null   object
 8   parent_brs_id            7592 non-null   object
 9   ovr_target               7672 non-null   object
 10  df_value                 7672 non-null   object
 11  ovr_value                7653 non-null   object
 12  ovr_active               7672 non-null   bool
 13  ovr_grounds_srating      29 non-null     object
 14  ovr_grounds_exposure     155 non-null    object
 15  ovr_grounds_controversy  21 non-null     object
 16  ovr_grounds_committee    123 non-null    object
 17  ovr_grounds_inheritance  6942 non-null   object
 18  primary_ovr_ground       7672 non-null   object
 19  secondary_ovr_ground     7199 non-null   object
 20  company_inheriting       7671 non-null   float64
 21  parent_company           7671 non-null   object
 22  comment                  1 non-null      object
 23  date                     1 non-null      datetime64[ns]
 24  last_check_date          728 non-null    datetime64[ns]
 25  next_check_date          727 non-null    datetime64[ns]
dtypes: bool(1), datetime64[ns](3), float64(2), object(20)
memory usage: 1.5+ MB

In [48]:
# rename column last_check_date to last_update_date and next_check_date to next_update_date in ovr_s_updated
ovr_s_updated.rename(columns={"last_check_date": "last_update_date", "next_check_date": "next_update_date"}, inplace=True)
# add empty column "creation_date" to ovr_s_updated
ovr_s_updated["creation_date"] = np.nan
# convert creation_date to datetime objet
ovr_s_updated["creation_date"] = pd.to_datetime(ovr_s_updated["creation_date"], errors="coerce")
# fill creation_date with last_update_date if creation_date is NaT
ovr_s_updated["creation_date"] = ovr_s_updated["creation_date"].fillna(ovr_s_updated["last_update_date"])
# reoderder columns in ovr_s_updated so "creation_date", "last_update_date", "next_update_date" are first
ovr_s_updated = ovr_s_updated[["creation_date", "last_update_date", "next_update_date"] + [c for c in ovr_s_updated.columns if c not in ["creation_date", "last_update_date", "next_update_date"]]]
# save ovr_s_updated to excel in "C:\Users\n740789\Downloads\overrided_db.xlsx"
ovr_s_updated.to_excel(r"C:\Users\n740789\Downloads\overrided_db.xlsx", index=False)

In [3]:
#get crossreference
crossreference = pd.read_csv(r"C:\Users\n740789\Documents\Projects_local\DataSets\crossreference\Aladdin_Clarity_Issuers_20250201.csv", 
                             dtype={"CLARITY_AI": str})
crossreference.columns = ["brs_id", "brs_issuer_name", "permid", "msci_id", "sustainalytics_id"]

In [4]:
# add column "brs_id" to df
df = df.merge(crossreference[["permid","brs_id"]], how="left", on='permid')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 729 entries, 0 to 728
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ovr_id              729 non-null    object
 1   last_check_date     729 non-null    object
 2   next_check_date     729 non-null    object
 3   permid              729 non-null    object
 4   issuer_name         729 non-null    object
 5   ovr_target          729 non-null    object
 6   source_value        729 non-null    object
 7   ovr_value           729 non-null    object
 8   ovr_active          729 non-null    bool
 9   og_srating          6 non-null      object
 10  og_exposure         489 non-null    object
 11  og_controversy      196 non-null    object
 12  og_committee        55 non-null     object
 13  company_inheriting  729 non-null    bool
 14  parent_company      8 non-null      object
 15  inherited_ovr       729 non-null    bool
 16  inhert_ovr_id       0 non-null      float64
 17  comments            729 non-null    object
 18  evidence            0 non-null      float64
 19  ovr_log             729 non-null    object
 20  brs_id              729 non-null    object
dtypes: bool(3), float64(2), object(16)
memory usage: 104.8+ KB

In [6]:
print(df[["ovr_log"]].head(10))

                                             ovr_log
0  {user : Tristan Soler,upload_date : 20250224,u...
1  {user : Tristan Soler,upload_date : 20250224,u...
2  {user : Tristan Soler,upload_date : 20250224,u...
3  {user : Tristan Soler,upload_date : 20250224,u...
4  {user : Tristan Soler,upload_date : 20250224,u...
5  {user : Tristan Soler,upload_date : 20250224,u...
6  {user : Tristan Soler,upload_date : 20250224,u...
7  {user : Tristan Soler,upload_date : 20250224,u...
8  {user : Tristan Soler,upload_date : 20250224,u...
9  {user : Tristan Soler,upload_date : 20250224,u...

In [7]:
# remove "," from "comments"column
df["comments"] = df["comments"].str.replace(",", "")
# remove "," from "ovr_log"column
df["ovr_log"] = df["ovr_log"].str.replace(",", "")
# remove ";" from "comments"column
df["comments"] = df["comments"].str.replace(";", "")

In [8]:
# save df
DATE = datetime.now().strftime("%Y%m%d")
#df.to_csv(rf"C:\Users\n740789\Downloads\{DATE}_overrides_backfiller.csv", index=False, sep=",")

In [9]:
#df.info()

In [ ]:
df